## Program Verification and Validation SLO - Error Handling

Objective: Identify and handle errors

Rubric:

- Exemplary (5): The program correctly validates all input (e.g., for out-of-range/illegal data) and handles all potential errors appropriately. Error messages or responses to the user are clear, accurate, and elegant.

- Accomplished (4): The program correctly validates all input (e.g., for out-of-range/illegal data) and handles most errors appropriately.

- Acceptable (3): The program correctly validates some input (e.g., for out-of-range/illegal data) and handles common errors appropriately, but some important cases are not handled properly.

- Needs Improvement (2): The program attempts to validate input and handle errors. However, some important validation and error-handling cases are incorrect or missing.

- Beginner (1): The program does not show evidence of input validation or error handling.

## Feedback Guidelines

1. `number_of_stars` in the template must be formatted as described below. You absolutely MUST follow this template, as the system will look for these specific strings as shown below to determine the proficiency level for the student.

   - Exemplary (5): `### Proficiency: *****`
   - Accomplished (4): `### Proficiency: ****`
   - Acceptable (3): `### Proficiency: ***`
   - Needs Improvement (2): `### Proficiency: **`
   - Beginner (1): `### Proficiency: *`

   If the template includes `### Proficiency: ***`, the system will automatically assess the student as having met the Acceptable (3) level of proficiency.

2. The snippets you include as described in the template must not be the entire submission, but rather a specific section of the submission that you are providing feedback on.

3. Include as many snippets and feedback sections as you feel are necessary to provide a comprehensive review.

## Feedback template

<!-- Template starts from here -->

## Error Handling - {{ Feedback_title }}

{{ feedback_content }}

---

### Proficiency: {{ number_of_stars }}

{{ tips_and_suggestions_to_improve }}
